/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "partials/base";

// Partials
@import "partials/variables";
@import "partials/typography";
@import "partials/media-queries";

// SITE STYLES HERE

.spacer {
	margin-top: 2em;
	margin-bottom: 2em;
	display: block;
}

.col-centered {
	float: none;
    margin: 0 auto;
}

hr {
	border-top: solid 1px #a4a4a4;
}

i.fa-check {
	// color: #59b41d;
	color: #2ea000;
}
i.fa-close {
	color: #f1112e;
}

.the-build {
	font-size: 18px;
}

.number {
	background-color: $white;
	color: $main;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;

	@include border-radius(30px);
}

// Menu Points
.menu-point {
	display: block;
	position: relative;
	top: -50px;
}

.top-section {
	font-family: 'Dosis', sans-serif;
	// background-color: #d4d4d4;
	background-color: #79bd99;
background-image: url(http://www.transparenttextures.com/patterns/otis-redding.png);
	color: $white;
	padding-bottom: 2em;
	h1.app-builder{
		// font-size: 8em;
		font-size: 8vw;
	}
	h1 {
		color: $main;
		font-size: 8em;
		line-height: auto;
		font-weight: 200;
		strong {
			font-weight: 800;
		}
	}
	h1.problem {
		color: $main;
		font-size: 4.8em;
		line-height: auto;
		font-weight: 200;
	}
	hr {
		border-top: solid 1px $white; 
	}
}

.cta {
	padding-top: 2em;
	padding-bottom: 2em;
	color: white;
}

.bad-ordering-cycle {
	text-align: center;
	background-color: #4d0300;
	// background-image: url(http://www.transparenttextures.com/patterns/dirty-old-black-shirt.png);
		background-image: url(http://www.transparenttextures.com/patterns/green-dust-and-scratches.png);
	h1 {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.7 );
		color: $main;
	}
	h1.loss {
		background-color: $white;
		width: 180px;
		margin: auto;
		@include border-radius(180px);
	}
}

.intervention {
	margin-top: 1em;
	margin-bottom: 2em;
	h1 {
		text-align: center;
	}
}
.green {
	color: #61c699;
}

.good-ordering-cycle {
	text-align: center;
	background-color: #9d59b3;
	background-image: url(http://www.transparenttextures.com/patterns/dirty-old-black-shirt.png);
	// background-image: url(http://www.transparenttextures.com/patterns/green-dust-and-scratches.png);
	// background-color: #9d59b3;
	// background-image: url(http://www.transparenttextures.com/patterns/gplay.png);
	// background-color: #330b2e;
	// background-image: url(http://www.transparenttextures.com/patterns/gradient-squares.png);
	h1 {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.7 );
		color: $main;
	}
	h1.gain {
		background-color: $white;
		width: 180px;
		margin: auto;
		@include border-radius(180px);
	}
}

.ordering-app {
	h1{
		text-align: center;
		margin-bottom: 1em;
	}
	li, button{
		font-size: 2em;
	}
	i {
		color: #59b41d;
	}
	li {
		border-bottom: solid 2px #59b41d;
	}
	.mobile-app {
		margin-top: 1em;
	}
	.stop {
		li {
			border-bottom:  solid 0px #f1112e;
		}
		i {
			color: #f1112e;
		}
		.btn-danger {
			width: 90%;
			font-size: 2em;
		}
	}
	.start {
		li {
			border-bottom: 0px solid #59b41d;
		}
	}
}

.app-features {
	a {
		font-size: 2em;
	}
}

.app-demo {
	background-color: #5abd82;
	background-image: url(http://www.transparenttextures.com/patterns/food.png);
	h1 {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.7 );
		color: $main;
	}
}

.app-demos {
	text-align: center;
	.btn {
		font-size: 18px;
		margin-top: 1em;
	}
}

footer {
	.top {
		height: 200px;	
	}
	h1 a {
		color: $white;
		width: 100%;
		font-size: 3em;
		font-size: 10vw;
	}
	h1 a:hover {
		color: $white;
		text-decoration: none;
	}
	margin-top: 2em;
	background-image: url('/img/bg-purple_1000.jpg');
	// background-image: url('http://buy-an-app.madmantis.co.uk/buy-an-app-foodapp/img/bg-purple_1000.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}

// form 
.actTinyMceElBodyContent {
	text-align: center!important;
}
#WFItem p {
	text-align: center;
}